/* VARIABLES CSS */ 
:root{
    /* COLORES */
    --carolina-blue: #00A8E8;
    --Celadon-blue: #007EA7;
    --purssian-blue: #003459;
    --rich-black-FOGRA-29: #00171F;
    --white: #ffffff;
    --black: #000000;

    /* TAMANNOS */
    --xsm: 12px;
    --sm: 14px;
    --md: 16px;
    --lg: 20px;
    --xlg: 24px;

}

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: grid;
    grid-template-columns: 15% auto 80%;
    grid-template-rows: 130px;
    background-color: var(--purssian-blue);
    
}
.header__img{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100px;
    padding: 10px;
    margin-left: 10px;
}
header nav{
    grid-column: 3/4;
    grid-row: 1/2;
}
header nav ul{
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    
}
header nav ul li{
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--Celadon-blue);
    border-radius: 10px;
}
header nav ul li:hover{
    background-color: var(--carolina-blue);
    border-color: var(--white);
    cursor: pointer;
    transition-duration: 400ms;
}
header nav ul li:not(:hover){
    transition-duration: 400ms;
}
.header-nav__item{
    text-decoration: none;
    color: var(--white);
    font-size: var(--md);
    
}

main{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
main section{
    margin-top: 30px;
    width: 70%;
    justify-self: center;
}
main section h1{
    font-weight: bold;
    color: var(--purssian-blue);
}
main section p{
    font-weight: 500;
    margin-top: 20px;
    text-align: justify;
}
.gallery-section{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    place-items: center;
}
.gallery-section h1{
    place-self: start;
    margin-bottom: 40px;
}
.gallery-img-container{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-auto-rows: 100px;
    gap: 20px;
}

.gallery-img img{
    width: 100%;
    border-radius: 10%;
}
