/* VARIABLES CSS */ 
:root{
    /* COLORES */
    --carolina-blue: #00A8E8;
    --Celadon-blue: #007EA7;
    --purssian-blue: #003459;
    --rich-black-FOGRA-29: #00171F;
    --white: #ffffff;
    --black: #000000;

    /* TAMANNOS */
    --xsm: 12px;
    --sm: 14px;
    --md: 18px;
    --lg: 20px;
    --xlg: 24px;

}

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: grid;
    grid-template-columns: 15% auto 80%;
    grid-template-rows: 130px;
    background-color: var(--purssian-blue);
}
.header__img{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100px;
    padding: 10px;
    margin-left: 10px;
}
header nav{
    grid-column: 3/4;
    grid-row: 1/2;
}
header nav ul{
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    
}
.header-nav__item{
    text-decoration: none;
    color: var(--white);
    
}

/*


main{
    width: 100%;
    height: 500px;
    border: 10px solid rgb(84, 84, 192);
    padding: 20px 35px;
}

li {
    list-style-type: style disc;
}

.title{
    font-size: 18px;
    font-family: monospace;
}

.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: rgb(255, 255, 255);
}

.header-nav__item{
    display: inline-block
}


.header-nav__item a{
    font-size: 4ch;
    color:rgb(233, 176, 255);
    background-color: rgb(22, 13, 100);
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    border-style:groove;
    border-radius: 10%;
}


.main-nav__item a:hover{
    color:rgb(255, 31, 143)
}


.main-nav__item a:active{
    color:rgb(255, 255, 255)
}


.main-nav__item a::after{
    color:rgb(247, 82, 183)
}


.seccion-Principal__txt{
    font-family:monospace;
}

.imagenes {
    border-radius: 28%;
    width: 100px;
}
*/
/*Selectores-ID: #
#nombreID{

}

Clases:
 .imagenes {
    size: 50%;
} 
*/
